@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dosis";
  src: url("./Dosis-SemiBold.ttf");
}

body {
  font-family: "dosis";
  /* height: 100%; */
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url("./IMG_9986.JPG"); */
  /* background-position: 100%; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

header {
  font-family: "dosis";
}

nav {
  font-family: "dosis";
}

footer {
  font-family: "dosis";
}

h1 {
  color: #636363;
}
